$yellow: #f7eed0;
$orange: #c87054;
$green: #37b27a;
$purple: #3e313b;
$dark-purple: #322730;

.green-text { color: $green !important; }
.purple-text { color: $purple !important; }
.yellow-text { color: $yellow !important; }
.orange-text { color: $orange !important; }